*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;     
    color:#006a65;
}

.frm-param {
    padding: 10px;
}

fieldset {
    width: auto;
    margin: 5px 2% 5px 0;
    border: none;
    box-shadow: -5px 14px 23px -1px rgba(34, 60, 80, 0.37);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    background-color: #62ac39;
    color: #fff;
}
.form-uchastok{
margin-bottom: 15px;
}
.fusion-form-input {
    margin: 5px;
}
input {
    border: #006a65 1px solid;
    border-radius: 3px;
    text-align: right;
    padding: 2px;
    font-weight: 600;
    color: #006a65;
}
.param {
    border: #006a65  double;
    padding: 5px;
    margin-right: 5px;
}
.wrapper {
    position: relative;
    /* max-width: 100vw; */
    /* margin: 10px; */
    height: 80vh;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.wrapper img {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.zone {
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 0;
    margin: 0;
    width: 18%;
    height: 100%;
    z-index: 999;
}

section {
   height: 100vh;
   background-image: url('images/background.jpg');
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size:cover;
   padding: 20px;
   border-radius: 5px;
   max-width: 100%;
   
}

.container {
    opacity: 0.8;
    height: 100vh;
    position: absolute;   
    top: 0px;
    left: 19%;
    width: 600px;
    height: 450px;
    border: 4mm ridge rgba(122, 102, 18, 0.8);
    box-shadow: 18px 14px 44px 0px rgba(34, 60, 80, 0.41);
    max-width: 80%;
    max-height: 92vh;
}
.block-ots {
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(24, 21, 7, 1), #c9d7d68e  2px),
    linear-gradient(90deg, rgba(24, 21, 7, 1), #c9d7d68e  2px);
    background-size: 15px 15px;
}    
.block-ots img {    
    width: 100%;
    height: 100%;   
    opacity: 0.7;
    filter: blur(10px);
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
.d-none {
    display: none;   
}

.draggable {    
    z-index: 999;
    box-shadow: 1px 1px 18px 13px rgba(0, 0, 0, 0.15) inset;
    padding: 0;
    margin: 0;
    float: left;
    background-size: contain;
    background-position: center center;
    /* Положение объекта */
    background-repeat: no-repeat;
    /* Отменяем повторениео бъекта*/
    cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, pointer;
    width: 116px;   
    height: 116px;
    /* равно 5 м*/
}
.neon {
    animation: hoverElement1 1s linear infinite; /* При наведении включаем анимацию */
    cursor: none;
    position: relative; /* Относительное позиционирование */ 
    border-radius: 3px;
}

@keyframes hoverElement1 { /* Сама анимация */
    0% {
        border: 2px dashed yellow;
        opacity: 0.5; 
    }
    50% {
        border: 2px dashed red;       
        opacity: 0.9;
    }
    100% {
        border: 2px dashed  yellow;
        opacity: 0.5; 
        opacity: 0.5; 
    }
}
   .neon::after {      
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    font-size: 12px;
    font-weight: 600;
    width: 104px; /* Ширина подсказки */
    left: 0; top: 0px; /* Положение подсказки */
    background: red;    /*  цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em  0.3em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0.5; /* Подсказка невидима */
    transition: 2s; /* Время появления подсказки */
   } 
   .neon:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -50px; /* Положение подсказки */
    width: 104px; 
    padding: 0.5em  0.3em; 
    
   }

.title
{
   margin: 10px;
    color: 
#006a65; 
   
}
.block-dendr{
    display: flex;
    margin-left: 20px;
}

.draggable:hover:after {
    position: relative;
    color: #fff;    
    text-shadow: #000 2px 0 10px;
}

.img1 {
    background-image: url('images/home.png');

}

.img2 {
    background-image: url('images/garag-2.png');

}

.img3 {
    background-image: url('images/bes.png');
    background-size: 80%;
}

.img4 {
    background-image: url('images/banya.png');

}
.img5 {
    background-image: url('images/Хоз.постройка.png');
}

.img6 {
    background-image: url('images/tualet.png');
}

.img7 {
    background-image: url('images/vodoem.png');
}

.img8 {
    background-image: url('images/minDer.png');
    height: 60px;
    width: 60px;
}

.img9 {
    background-image: url('images/maxDer.png');
    height: 105px;
    width: 105px;
}
.img10 {
    background-image: url('images/kust.png');
    width: 40px;   
    height: 40px;
}

.img11 {
    background-image: url('images/zvety-2.png');
    width: 40px;   
    height: 40px;
}

/* .img11:hover:after {
    content: "Цветы";
    top: -20px;
    left: 25px;
} */

.draggable.is-pointer-down {
  
    opacity: 0.6;
    z-index: 2;
  
}

.draggable.is-dragging {
    opacity: 0.5;
}


button.btnFrm {
    padding: 10px;
    margin: 5px;
    border-radius: 5px; 
    background-color: #006a65;
    border: 2px solid #006a65;
    box-shadow: 18px 14px 44px 0px rgba(34, 60, 80, 0.41);
    text-shadow: 18px 14px 44px 0px rgba(34, 60, 80, 0.41);
    color: #fff;
}
.btn-disabled {   
    background-color: #5a8b88 !important;
    border: 2px solid  #5a8b88 !important;  
}


.active{
    background-color: green;
}
@media screen and (max-width: 800px) {
    .container {
        left: 0;
        max-width: 100%;
    }
    .zone {       
        width: 100%; 
        max-width: 100%;      
    }
  }
  


