body {
    font-family: sans-serif;
}

.frm-param {
    padding: 10px;
}

fieldset {
    width: auto;
    margin: 5px 2% 5px 0;
    border: none;
    box-shadow: -5px 14px 23px -1px rgba(34, 60, 80, 0.37);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.fusion-form-input {
    margin-top: 5px;
}

input {
    border: rgba(211, 220, 50, .7) 1px solid;
    border-radius: 3px;
}

.param {
    border: rgba(211, 220, 50, .7) double;
    padding: 5px;
}

.wrapper {
    position: relative;
    max-width: 100vw;
    margin: 10px;
    height: 80vh;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.wrapper img {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.zone {
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 0;
    margin: 0;
    width: 20%;
    height: 100%;
}

section {
    height: 100vh;
}

.container {
    /* background-image: url('images/ushastok.jpg'); */
    background: #b0b02f;
    opacity: 1;
    position: absolute;
    /* padding-left: 20px; */
    top: 0px;
    left: 23%;
    width: 600px;
    height: 450px;
    border: 3mm ridge rgba(211, 220, 50, .7);
    box-shadow: 18px 14px 44px 0px rgba(34, 60, 80, 0.41);
    max-width: 80%;
}
.block-ots img {
    width: 100%;
    height: 100%;   
    opacity: 0.5;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
.d-none {
    display: none;   
}

.draggable {
    /* border: 1px solid red; */
    box-shadow: 0px 5px 25px 2px rgba(34, 60, 80, 0.45) inset;
    padding: 0;
    margin: 0;
    float: left;
    background-size: contain;
    background-position: center center;
    /* Положение объекта */
    background-repeat: no-repeat;
    /* Отменяем повторениео бъекта*/
    cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, pointer;
    width: 116px;   
    height: 116px;
    /* равно 5 м*/
}
.neon {
    animation: hoverElement1 1s linear infinite; /* При наведении включаем анимацию */
    cursor: none;
    position: relative; /* Относительное позиционирование */ 
}

@keyframes hoverElement1 { /* Сама анимация */
    0% {
        border: 2px solid #d2f90f;
        opacity: 0.3; 
    }
    50% {
        border: 2px solid red;       
        opacity: 0.9;
    }
    100% {
        border: 2px solid #d2f90f;
        opacity: 0.3; 
    }
}
   .neon::after {      
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    font-size: 8px;
    width: 100px; /* Ширина подсказки */
    left: 5px; top: 50px; /* Положение подсказки */
    background: red;    /*  цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 2s; /* Время появления подсказки */
   } 
   .neon:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 100px; /* Положение подсказки */
    width: 100px;
   }

.yellow
{
    position: relative;
    color: #fdf90c;    
    text-shadow: #000 2px 0 5px;
}

.draggable:hover:after {
    position: relative;
    color: #fff;    
    text-shadow: #000 2px 0 10px;
}

.img1 {
    background-image: url('images/home.png');

}

/* .img1:hover:after {
    content: "Дом";
    top: -10px;
    left: 20px;
} */

.img2 {
    background-image: url('images/garag-2.png');

}

/* .img2:hover:after {
    content: "Гараж";
    top: 0px;
    left: 18px;
} */

.img3 {
    background-image: url('images/bes.png');
    background-size: 80%;
}

/* .img3:hover:after {
    content: "Беседка";
    top: 0px;
    left: 13px;
} */

.img4 {
    background-image: url('images/banya.png');

}

/* .img4:hover:after {
    content: "Баня";
    top: -10px;
    left: 18px;
} */

.img5 {
    background-image: url('images/Хоз.постройка.png');
}

/* .img5:hover:after {
    content: "Хоз.постройка";
    top: -10px;
    left: 0px;
} */

.img6 {
    background-image: url('images/tualet.png');
}

/* .img6:hover:after {
    content: "Туалет";
    top: -20px;
    left: 10px;
} */

.img7 {
    background-image: url('images/vodoem.png');
}

/* .img7:hover:after {
    content: "Водоем";
    top: -20px;
    left: 10px;
} */

.img8 {
    background-image: url('images/minDer.png');
}

/* .img8:hover:after {
    content: "Малое дерево";
    top: -20px;
    left: 25px;
} */

.img9 {
    background-image: url('images/maxDer.png');
}

/* .img9:hover:after {
    content: "Большое дерево";
    top: -20px;
    left: 25px;
} */

.img10 {
    background-image: url('images/kust.PNG');
    width: 40px;   
    height: 40px;
}

/* .img10:hover:after {
    content: "Куст";
    top: -20px;
    left: 25px;
} */

.img11 {
    background-image: url('images/zvety-2.PNG');
    width: 40px;   
    height: 40px;
}

/* .img11:hover:after {
    content: "Цветы";
    top: -20px;
    left: 25px;
} */

.draggable.is-pointer-down {
    /* background: rgb(0, 255, 42); */
    opacity: 0.6;
    z-index: 2;
    /* above other draggies */
}

.draggable.is-dragging {
    opacity: 0.5;
}


button.btnFrm {
    padding: 10px;
    margin: 5px;
    border-radius: 5px; 
    background-color: #a2bd32;
    border: 2px solid #a2bd32;
    box-shadow: 18px 14px 44px 0px rgba(34, 60, 80, 0.41);
    color: #fff;
}

