*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; }
.baza{
    width: 200px;
    padding: 25px;
    margin: 20px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    position: relative;
    outline: 1px solid gold;
    margin: 10px;
    max-width: 440px;
    display: flex;
    flex-wrap: wrap;
    
}

.empty {
    margin: 5px;
    min-width: 100px;
    min-height: 100px;
    background-color: #242424;
}
.draggable {
  position: absolute;
  width: 100px;
  height: 100px; 
  z-index: 1;
  background-color: red;
  cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, pointer;
  background-size: contain;  
  background-position: center center; 
  background-repeat: no-repeat; 
}

.active{
    background-color: green;
}
/* 
  
 /* cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, pointer; */

/* .yellow, .draggable:hover:after{
    position:relative;
    color: rgba(244, 254, 52, 0.928);  
    text-shadow: #000 3px 0 10px;
}
 */
.img1{
    background-image: url('images/home.png'); 
    width: 150px;
    height: 150px;

   
}
.img1:hover:after{
    content: "Дом";     
    top: 20px;
    left: 100px;
 }
.img2{
    background-image: url('images/garag.png');

}
.img2:hover:after{
    content: "Гараж";   
    top:  0px;
    left: 18px;
}
/*
.img3{
    background-image: url('images/беседка2.png');
    width: 70px;
    height: 70px;
}
.img3:hover:after{
    content: "Беседка";   
    top: 0px;
    left: 13px;
    
}
.img4{
    background-image: url('images/banya.png');
    width: 70px;
    height: 70px;
}
.img4:hover:after{
    content: "Баня";
    top: -10px;
    left: 18px;
}
.img5{
    background-image: url('images/Хоз.постройка.png');
    width: 70px;
    height: 70px;
}
.img5:hover:after{
    content: "Хоз.постройка";
    top: -10px;
    left: 0px;
}
.img6{
    background-image: url('images/tualet.png');
    width: 70px;
    height: 70px;
}
.img6:hover:after{
    content: "Туалет";
    top: -20px;
    left: 10px;
}
.img7{
    background-image: url('images/vodoem.png');
    width: 100px;
    height: 100px;
}
.img7:hover:after{
    content: "Водоем";
    top: -20px;
    left: 10px;
}
.img8{
    background-image: url('images/minDer1.png');
    width: 100px;
    height: 100px;
}
.img8:hover:after{
    content: "Малое дерево";
    top: -20px;
    left: 25px;
}
.img9{
    background-image: url('images/maxDer.png');
    width: 100px;
    height: 100px;
 
}
.img9:hover:after{
    content: "Большое дерево";
    top: -20px;
    left: 25px;
}
.img10{
    background-image: url('images/kust.PNG');
    width: 100px;
    height: 100px;
 
}
.img10:hover:after{
    content: "Куст";
    top: -20px;
    left: 25px;
}
.draggable.is-pointer-down {
  /* background: rgb(0, 255, 42); */
  /* opacity: 0.6;   */
  /* z-index: 2; 
}
.draggable.is-dragging { opacity: 0.5; } */ */



